<div class='row'>
  <div class="col-md-6 col-md-offset-3">

    <% if user_signed_in? %>
      <%= link_to "Buat Diskusi", new_forum_thread_path, class: 'btn btn-primary' %>
    <% end %>

    <% @threads.each do |t| %>
      <div class="thread">
        <h4><%= link_to t.title.titleize, forum_thread_path(t)  %>
          <% if t.sticky? %>
            <span class="glyphicon glyphicon-pushpin"></span>
          <% end %>
        </h4>
        <div class="meta">
          <%= I18n.l(t.created_at.to_date) %> oleh <%= t.user.name %>
        </div>
        <div class="content">
          <%= truncate t.content, length: 150 %>
        </div>

        <div class="action">
          <%= link_to 'pin it', pinit_forum_thread_path(t), class: 'btn', method: :put %>
        </div>

        <div class="count">
          <%= t.forum_posts_count %> Obrolan
        </div>

        <div style='clear: both'>
        </div>
      </div>
    <% end %>
    <%= will_paginate @threads, renderer: BootstrapPagination::Rails %>
  </div>
</div>
